$colorUno: yellow;
$colorDos: red;
$colorTres: blue;
$colorCuatro: green;

section{
    background: $colorUno;
    h1{
        background: $colorDos;
    }
    h2{
        background: $colorTres;
    }
    p{
        background: $colorCuatro;
    }
}

footer{
    p{
        background: $colorUno;
    }
}